$primary-color: #4285f4;
$bg-color: #f6f6f6;
$border-color: #ececec;
$font-light-color: #262626;
$font-dark-color: #fff;

$font: "Amaranth", "Noto Sans TC", sans-serif;

$title-size: 72px;
$font-size: 24px;
$input-size: 32px;
$pic-size: 24px;
$space-size: 15px;


$pic-unchecked: "../images/circle.png";
$pic-checked: "../images/correct.png";
$pic-delete: "../images/rubbish.png";
$form-bg: "https://i.pinimg.com/originals/b7/4e/ec/b74eec06983f750ad19d2cf8437b542a.png";

$pc-media:1024px;
$pcs-media:1023px;
$pad-media:768px;
$pads-media:767px;
$phone-media:512px;
$phones-media:511px;