.item{
    font-size: 30px;
    width: 370px;
    border: 1px solid;
    border-top: 0px solid;
}
#top{
    width: 373px;
    margin: 0px auto;
}
#top h1{
    text-align: center;
}
#thing{
    font-size: 30px;
    margin: 0px auto;
}
#content{
    width: 373px;
    margin: 0px auto;
}
body{
    font-family: Microsoft JhengHei;
}
.standard{
    display: inline-block;
}
.clean{
    margin: auto 0px;
    border: 0px;
    background-color: cornflowerblue;
    color: white;
}