body{
    background-color: #F5F5F5;
}
.content{
  width: 40vw;
  margin:0 auto;
}
.header{
    width: 20vw;
    margin:0 auto;
    font-size: 40pt;
    text-align: center;
    color: #5EC2AD;
    font-family: Arial, Helvetica, sans-serif;
}
.inputbox{
    width: 20vw;
}
input[type=text] {
    outline: none; /*取消focus時的外框*/
    width: 36.5vw;
    padding: 12px 20px;
    margin:0 auto;
    border: none;
    background-color:white;
}
label{
    padding-left: 1em;
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
}
input[type=checkbox]:checked+label{
    text-decoration: line-through;
}
#dolist{
    width: 10vw;
    margin: 0;
    padding: 0;
}
#dolist li{
    position: relative;
    width: 38vw;
    list-style: none; 
    padding: 0.5em 0.5em 0.5em 0.1em;
    border-bottom: 1px solid #5EC2AD ;
    margin-bottom: 1em;
}
.deleteBtn{
    position: absolute;
    left: 97%;
    border-radius: 50px;
}
